<!DOCTYPE html>
<html lang="es" class="html-home">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/mobileNavBar') %>
    <main class="product-detail__main">
      <!--Producto-->
      <section class="product-detail__product-container">
        <article class="product-detail__product-container__subcontainer-1">
          <!--Brand name-->
          <h1 class="main-title"> <%= product.productBrand.name %> </h2>
          <!--Image-->
          <img src="/images/products/<%= product.productImages[0].image_path %>" class="product-detail__product-container__subcontainer-1__product-image"
           alt="Zapato"/>
        </article>

        <article class="product-detail__product-container__subcontainer-2">
          <section class="product-detail__product-container__subcontainer-2__buttons-size-section">
            <form action="/cart/<%= product.id %>/agregar" method="POST" class="product-detail__product-container__subcontainer-2__buttons-size-section__add-product-form" 
            enctype="application/json">
              <!--Buttons - section-->
              <article class="product-detail__product-container__subcontainer-2__buttons-size-section__add-product-form__buttons-section">
                  <select name="quantity" class="product-detail__product-container__subcontainer-2__buttons-size-section__add-product-form__buttons-section__select-quantity">
                    <% [1,2,3,4,5].forEach(number => { %>
                        <option value=<%= number %> ><%= number %></option>
                    <% }) %>
                  </select>
                <button type="submit" class="product-detail__product-container__subcontainer-2__buttons-size-section__add-product-form__buttons-section__add-product-btn">
                Agregar al carrito</button>
              </article>
              <!--Sizes - section-->
              <article class="product-detail__product-container__subcontainer-2__buttons-size-section__add-product-form__size-section">
                <h4 class="sizes-subtitle"> Talles </h4>
                <select name="selectedSizeId" id="select-cantidad">
                  <!--forEach -> Sizes -->
                  <optgroup label="EUR"></optgroup>
                  <% product.Sizes.forEach(size => { %>
                    <% if ( size.type  == "EUR") { %>
                      <option value= <%= size.id %> > <%= size.type  + " " + size.value %> </option>
                      <% } %>       
                  <% }) %>
                  <optgroup label="CM"></optgroup>
                  <% product.Sizes.forEach(size => { %>
                    <% if ( size.type  == "CM") { %>
                      <option value= <%= size.id %> > <%= size.type  + " " + size.value %> </option>
                    <% } %>      
                  <% }) %>
                </select>
              </article>
            </form>
          </section>
          <!--Price & Discount - section-->
          <section class="product-detail__product-container__subcontainer-2__price-discount-section">
            <!--If product has %Off-->
            <% if (product.discount_percentage> 0) { %>
              <div>
                <!--Price without discount-->
                <p class="price"><del> $<%= product.price %> </del></p>
            
                <!--%Off-->
                <p class="discount"> <%= product.discount_percentage %>% Off </p>
              </div>
              <!--Price with discount-->
              <p class="product-detail__product-container__subcontainer-2__price-discount-section__price-with-discount"> $<%= product.price - ((product.price * product.discount_percentage) / 100) %> </p>
            
              <!--If not-->
              <% } else { %>
                <!--Price-->
                <p class="product-detail__product-container__subcontainer-2__price-discount-section__normal-price"> $<%= product.price %> </p>
              <% } %>
          </section>
      
          <!--Color - section-->
          <section class="product-detail__product-container__subcontainer-2__color-section">
            <p class="product-detail__product-container__subcontainer-2__color-section__color"> <%= product.color %> </p>
          </section>

        </article>
        <article class="product-detail__product-container__subcontainer-3">
          <!--Description - section-->
          <section class="product-detail__product-container__subcontainer-3__description-section">
            <p class="product-detail__product-container__subcontainer-3__description-section__description"><%= product.description %> </p>
          </section>
        </article>
      </form>

      <!-- Productos relacionados -->
      <!--<h5 class="product-detail-productos-relacionados-title">PRODUCTOS RELACIONADOS</h5>
      <center>
        <hr class="product-detail-destacados-hr"> 
      </center>
      <section class="productos-relacionados-container">
        <div class="child-container">
          Solucionar problema <a> 
          <% relationatedProducts.forEach(element => { %>
            <a href="/productos/<%= element.id %>">
            <article class="flex-item">
              <img src="/images/products/<%= element.productImages[0].image_path  %>" alt="Producto" />
              <div class="descripcion-container">
                <p> <%= element.productBrand.name %> </p>
                <p>$ <%= element.price %> </p>
              </div>
            </article>
          </a>            
          <% }); %> 
        </div>
    </section>-->
    <% if (isAdmin == true) { %>
      <div id="product-editBtn-container">
        <a href="/productos/<%= product.id %>/editar"  class="btn-link">
          <i class="fa-solid fa-pen"></i>
        </a>
      </div>
    <% } %>
    </main>
    <%- include('../partials/footerPrincipal') %>
  </body>
</html>
